body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.jogo-da-velha{
    display: flex;
    align-items: space-evenly;
    justify-content: space-evenly;
    background-color: rgb(153, 150, 150);
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
    
}
.campos{
    height: 100px;
    width: 100px;
    background-color: #fff;
    margin: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7em;
    font-family: cursive; 
}

/* @media(min-width: 600px){
    .campos{
        background-color: #0099ff;
        border: 1px solid black;
        box-sizing: border-box;

    }
} */
